<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication6.Properties.Settings.Parking20ConnectionString" connectionString="Server=server;Database=Parking20;User Id=sa;Password=1;" />
    <add name="WindowsFormsApplication6.Properties.Settings.Parking20devConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Garik\Documents\Visual Studio 2013\Projects\SampleDatabaseWalkthrough\SampleDatabaseWalkthrough\Parking20dev.mdf&quot;;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication6.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=(LocalDB)\v11.0;Integrated Security=SSPI;Initial Catalog=Parking20dev" providerName="System.Data.OleDb" />
    <add name="WindowsFormsApplication6.Properties.Settings.ConnectionString1" connectionString="Provider=SQLNCLI11;Data Source=(LocalDB)\v11.0;Integrated Security=SSPI;Initial Catalog= " providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>